<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="Projet2_BancAppli"
     providerName="System.Data.ProviderName"
     connectionString="Data Source=PC-HARU\SQLEXPRESS;Initial Catalog=Projet2_BancAppli;User ID=UserAdmin;Password=MotDePasse" />
  </connectionStrings>
</configuration>